@page "/"
@namespace PiBulletinBoard.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PiBulletinBoard</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="PiBulletinBoard.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script src="https://sdk.minepi.com/pi-sdk.js"></script>
    <script>Pi.init({ version: "2.0", sandbox: true })</script>

    <script>
        window._callbacker = function(callbackObjectInstance, callbackMethod, callbackId, cmd, args){
            var parts = cmd.split('.');
            var targetFunc = window;
            var parentObject = window;
            for(var i = 0; i < parts.length; i++){
                if (i == 0 && part == 'window') continue;
                var part = parts[i];
                parentObject = targetFunc;
                targetFunc = targetFunc[part];
            }
            args = JSON.parse(args);
            args.push(function(e, d){ 
                var args = [];
                for(var i in arguments) args.push(JSON.stringify(arguments[i]));
                callbackObjectInstance.invokeMethodAsync(callbackMethod, callbackId, args); 
            });
            targetFunc.apply(parentObject, args);
        };
    </script>
</body>
</html>
