@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4 justify-content-between ">
            <b>Pi Bulletin Board </b> <i> send Messages through the Pi Network to everyone!</i>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
